body {
    background-color: rgb(209, 251, 237);
}

section {
    padding: 60px 0;
}
.navbar-section {
    background-color: rgb(209, 251, 237);
}
.main-section {
    background-color: rgb(209, 251, 237);
}
.footer-section {
    background-color: rgb(209, 251, 237);
}
