body {
    background-color: rgb(233, 249, 255);
}

section {
    padding: 60px 0;
}
.navbar-section {
    background-color: rgb(233, 249, 255);
}

.header-section {
    background-color: rgb(233, 249, 255);
}

.body-section {
    background-color: rgb(233, 249, 255);
}
.footer-section {
    background-color: rgb(233, 249, 255);
}
